.ui_collapse {
    margin: var(--space-sm) 0;
    overflow: hidden;
    font-family: var(--font-family-base);
}

.ui_collapse-trigger {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--space-md);
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    color: inherit;
    background: transparent;
    border: none;
    text-align: left;
    transition: background-color var(--transition-very-fast);
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.ui_collapse-trigger:hover,
.ui_collapse-trigger:focus-visible {
    background: var(--color-hover, rgba(0,0,0,0.04));
    outline: none;
}


.ui_collapse-content-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    will-change: max-height;
}

.ui_collapse-content-wrapper.open {
    max-height: 2000px;
    ul {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.ui_collapse-content-wrapper > div {
   //padding: var(--space-md);
    padding-top: var(--space-sm);
}