.selector {
    color: var(--color-text-primary);
    border: var(--ounline-color-white) 1px solid;
    background-color: var(--color-bg-element);
    border-radius: var(--space-sm);
    width: max-content;
    margin-bottom: var(--space-sm);
    font-size: var(--font-size-root);
}
