.panel_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
    &-name {
        font-size: var(--font-size-root);
        font-weight: 600;
        color: #858585;
        text-transform: uppercase;
        letter-spacing: 0.08em;
    }
    &-save {
        font-size: var(--font-size-root);
    }
}
