.artical-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: end;

    font-size: var(--font-size-root);
    &-text {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    > .selector {
        margin-bottom: 0;
    }
    &-title { 
        margin: 0;
    }
}