.breadcrumbs {
    display: flex;
    flex-direction: row;
    margin: var(--space-zero);
    padding: var(--space-zero);
    list-style: none;
    gap: var(--space-sm);
    background-color: var(--color-bg-page);
    &-item {
        display: flex;
        a {
            text-decoration: none;
            color: var(--color-text-primary);
            font-size: var(--font-size-root);
        }

    }
    &-item::after {
        content: "/";
        margin-left: 0.5rem;
    }
    &-item:last-child::after {
        content: "";
    }
}