.lenguage-section {
    display: block;

    &-content {
        padding-left: var(--space-2xl);
        &-language-nav-group {
            ul {
                padding-left: 1rem;
            }
        }
        &-language-nav-link{
            border-left: 1px solid gray;
            padding-left: 0.5rem;
        }
    }
    &-selector {
        color: var(--color-text-primary);
        border: var(--ounline-color-white) 1px solid;
        background-color: var(--color-bg-element);
        border-radius: var(--space-sm);
        width: max-content;
        margin-bottom: var(--space-sm);
        font-size: var(--font-size-root);
    }
}

.language-header {
    display: flex;
    justify-content: flex-start;
}
.language-icon {
    background-color: transparent;
}
.language-title {
    font-size: var(--font-size-root);
}
.expand-arrow {
    transform: rotate(90deg);
}