/*
------------------------------------------------------------------------------
*/
/*
    Header
*/
.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    /*
    temp
    */
    border: 1px solid green;
}
/*
    Header  -  Brand
*/
.brand {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.brand-description {
    display: grid;
    
}
/*
    Header  =   GlobarSearch
*/
.global-search {
    display: grid;
    position: relative;
    align-items: center;
    display: flex;
}
.search {
    flex: 0.95;
}
.search-input {
    width: 100%;
    text-align: center;
}
.search-hint {
    position: absolute;
    right: 4.75em;
    pointer-events: none;
    top: 50%;
    color: #888;
    transform: translateY(-50%);
}
.search-result {
    display: none;
}
.search-shortcut {
    display: none;
}
/*
    Header - UserMenu
*/
.user-menu {
    display: grid;
}
.bookmark-button {
    display: none;
}
.history-button {
    display: none;
}
.user-avatar-menu {
    display: grid;
    place-content: center;
}
/*
------------------------------------------------------------------------------
*/
/*
    MainLayout
*/
.main-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    /*
    temp
    */
    border: 1px solid green;
}


/*
------------------------------------------------------------------------------
*/
/*
    Footer
*/
.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    /*
    temp
    */
    border: 1px solid green;
}